html::-webkit-scrollbar {
  display: none;			
}
main
{
  flex: 1 0 auto;
}

.is_signaled
{
  background-color: #9E9E9E !important;
  transition: background 0.3s;
}

.vote-form
{
  display: inline-block;
}

.legalNotice{
  padding: 0 0 50px 0;
}

.footer-row{
  margin-bottom:0;
}
.titresite{
  font-family: 'Lemonada', cursive;
}
.chapterlist{
  background-color: #212121B3;
  padding: 8px;
}

/* RESPONSIVE */

@media all and (max-width: 785px){
  .page-title
  {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
  }
}

@media all and (max-width: 482px){
  nav .brand-logo
  {
    font-size: 1.3em;
  }

  .page-title
  {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    text-align: center;
  }
}

.from-right{
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

.from-right {
    transform: translate(0px, 0px);
}
